// Colors
$white: #fff;
$black: #000;


// Spacing
$full-space: 40px;
$half-space: $full-space / 2;


// Fonts
$base-font: 'Arial';
$heading-font: 'Helvetica';

$base-fz: 100%; // 16px
$base-lh: 1.5; // 24px

$fz--xs: rem(10px);
$fz--sm: rem(12px);
$fz--md: rem(16px);
$fz--lg: rem(24px);
$fz--xl: rem(32px);

$lh--xs: lh(14px, $fz--xs);
$lh--sm: lh(18px, $fz--sm);
$lh--md: lh(24px, $fz--md);
$lh--lg: lh(36px, $fz--lg);
$lh--xl: lh(42px, $fz--xl);

$text-color: lighten($black, (100% - 87%));
$text-secondary-color: lighten($black, (100% - 54%));
$text-hint-color: lighten($black, (100% - 26%));
$divider-color: lighten($black, (100% - 12%));

// Paths
$img-basepath: '../img/'
