@include manage-user-select;
@include selection($white, $black);
@include natural-box-layout();

html {
  font-size: $base-fz;
}

body {
  @include base-font-style;
  margin: 0;
  font-family: Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

#app {
  // display: none;
}
